@model Film

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Crea il nuovo film</h1>
        </div>
        <form asp-controller="Film" asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <strong>Titolo:</strong>
                <input asp-for="Name" class="d-block w-100" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <strong>Età:</strong>
                <input asp-for="Age" class="d-block w-100" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <strong>Immagine:</strong>
                <input asp-for="Image" class="d-block w-100" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <strong>Durata:</strong>
                <input asp-for="Duration" class="d-block w-100" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="text-end">
                <input type="submit" class="btn btn-small btn-success" value="Salva" />
            </div>
        </form>
    </div>
</div>
